@import "tailwindcss";

html, body {
  background-color: #282c34;
  padding: 0;
  margin: 0;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 12s linear infinite;
}
